*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* ////////////////////////////////////////////////////////////////////////////////// */

@font-face {
    font-family: 'Marianna';
    src: url('./../fonts/Marianna.eot');
    src: url('./../fonts/Marianna.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Marianna.woff2') format('woff2'),
        url('./../fonts/Marianna.woff') format('woff'),
        url('./../fonts/Marianna.ttf') format('truetype'),
        url('./../fonts/Marianna.svg#Marianna') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

/* First block */
.wrapper {
    min-width: 1950px;
    min-height: 2110px;

    position: relative;

    background:  url('./../imgs/firstblock/background.svg') no-repeat center /cover, rgba(0,0,0,30%);
    background-size: cover;

    z-index: 3;
}



/* Header */
.header_container {
    height: 129px;

    

    display: grid;
    align-content: end;

    grid-template-areas: "menu logo number";

    z-index: 3;
}
/* Header menu */
.header_menu {

    justify-content: start;

}
.menu_body {

}
.menu_list {

}
.list_item1,
.list_item2,
.list_item3 {

    display: inline-grid;


    padding-right: 80px;

    list-style-type: none;



    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
}
.list_item1::after,.list_item2::after {
    content: '';



    width: 0;

    
    border-bottom: 3px solid #fff;

    transition: all .3s ease-in-out;

}
.list_item1:hover::after,.list_item2:hover::after {
    content: '';

    position: absolute;
    top: 120px;

    color: #fff;

    width: 64px;
    height: 10px;


    border-bottom: 3px solid #fff;

    transition: all .3s ease-in-out;

    
}


.list_item3::before {
    content: '';

    position: absolute;
    top: 120px;



    width: 0px;
    height: 10px;

    transition: all .3s ease-in-out;

    border-bottom: 3px solid #fff;
}
.list_item3:hover::before {
    content: '';

    position: absolute;
    top: 120px;



    width: 96px;
    height: 10px;

    transition: all .3s ease-in-out;

    border-bottom: 3px solid #fff;
}

.menu_list a {
    text-decoration: none;
    color: #fff;
}
/* Header logo */
.header_logo {

    color: #fff;
    
    display: inline-grid;
    justify-self: start;
    grid-area: logo; 

    padding-left: 100px;
}



.logo_text {
    text-transform: uppercase;


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 53px;



}
.logo_text::before {
    content: '';
    
    width: 0px;
    height: 100px;

    position: absolute;
    top: 27px;

    border-bottom: solid #FFF500;

    transition: all .3s ease-in-out;

}
.logo_text:hover::before {


    content: '';
    
    width: 200px;
    height: 100px;

    position: absolute;
    top: 27px;

    border-bottom: solid #FFF500;

    transition: all .3s ease-in-out;

}

.logo_text::after {
    content: '';
    
    width: 0px;
    height: 100px;

    position: absolute;
    right: 1230px;
    top: 27px;

    border-bottom: solid #FFF500;

    filter: blur(6px);

    transition: all .3s ease-in-out;

}
.logo_text:hover::after {


    content: '';
    
    width: 200px;
    height: 100px;

    position: absolute;
    right: 1160px;
    top: 27px;

    border-bottom: solid #FFF500;

    filter: blur(6px);

    transition: all .3s ease-in-out;

} 

/* Header phonenumber */
.header_phonenumber {
    display: grid;
    justify-self: center;
    grid-area: number;

    width: 241px;
    height: 47px;  
}
.header_number {

    color: #fff;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 47px;

}

/* Main container */
.main_container {
    

    
    height: 941px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    margin-right: 80px;

    z-index: 3;
}
/* Text on 1-st block */
.main_titles {

    color: #fff;

}
.main_title {

}
.main_title::before {

    content: '';

    width: 150px;
    height: 2px;

    position: absolute;
    top: 540px;
    left: 665px;

    background: #fff;


}
.main_title::after {

    content: '';

    width: 150px;
    height: 2px;

    position: absolute;
    top: 540px;
    left: 1453px;

    background: #fff;


}
.main_title_text {



    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 150px;
    line-height: 222px;
    letter-spacing: 0.215em;
}





.main_subtitle {
    grid-area: subtitle;
}
.main_subtitle_text {



    font-family: 'Marianna';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 121px;
}
/* Rhombs for slider */

.main_rhombs {


    display: flex;
    position: relative;
    top: 325px;
}


.rhombs_first_body {
    width: 15px;
    height: 15px;



    background: #fff;

    transform: rotate(-45deg);


}
.rhombs_second_body {
    width: 15px;
    height: 15px;



    background:  #FFF500;

    transform: rotate(-45deg);

}
.rhombs_third_body {
    width: 15px;
    height: 15px;



    background: #fff;

    transform: rotate(-45deg);

}
.rhombs_fourth_body {
    width: 15px;
    height: 15px;



    background: #fff;

    transform: rotate(-45deg);

}
.rhombs_fifth_body {
    width: 15px;
    height: 15px;



    background: #fff;

    transform: rotate(-45deg);

}

.rhombs_first_body,
.rhombs_second_body,
.rhombs_third_body,
.rhombs_fourth_body,
.rhombs_fifth_body {
    margin-right: 20px;
}


