
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Marianna';
    src: url('./../fonts/Marianna.eot');
    src: url('./../fonts/Marianna.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Marianna.woff2') format('woff2'),
        url('./../fonts/Marianna.woff') format('woff'),
        url('./../fonts/Marianna.ttf') format('truetype'),
        url('./../fonts/Marianna.svg#Marianna') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

/* First block */
.wrapper {
    width: 1950px;
    height: 1080px;
    margin: 0 auto;
}
/* Header */
.header_container {
    width: 1410px;
    height: 129px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* Header menu */
.header_menu {
}
.menu_body {

}
.menu_list {
    display: flex;
}
.list_item {

    display: flex;

    padding-right: 80px;

    list-style-type: none;


    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
}
.list_link {
    text-decoration: none;
}
/* Header logo */
.header_logo {

    display: flex;

    justify-content: center;    
} 
.header_logo::after {
    content: '';

    position: absolute;
    left: 940px;
    top: 128px;

    width: 199.5px;

    border: 3px solid #FFF500;
    filter: blur(2px);
}
.logo_text {
    text-transform: uppercase;


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 53px;



}
/* Header phonenumber */
.header_phonenumber {


    width: 241px;
    height: 47px;   
}
.header_number {


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 47px;

}


/* Main container */
.main_container {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}
/* Text on 1-st block */
.main_title {
}
.main_title_text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 150px;
    line-height: 222px;
    letter-spacing: 0.215em;
}

.main_title::before {
    content: '';
    position: absolute;
    top: 545px;
    left: 713px;
    width: 150px;
    border: 2px solid #000;
}
.main_title::after {
    content: '';
    position: absolute;
    top: 547px;
    left: 1503px;
    width: 150px;
    border: 2px solid #000;
}



.main_subtitle {

}
.main_subtitle_text {
    font-family: 'Marianna';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 121px;
}
/* Rhombs for slider */
.main_rhombs {
    display: flex;
    justify-content: center;
    margin-top: 219px;
}
.rhomb_body_first {
    width: 15px;
    height: 15px;

    line-height: 60px;
    text-align: center;

    background: #000;

    margin: 20px;
    
    transform: rotate(45deg);
}

.rhombs_figure_first {
    display: block;
    transform: rotate(-45deg);
    padding-left: 20px;  
}

.rhomb_body_second {
    width: 15px;
    height: 15px;

    line-height: 60px;
    text-align: center;

    background: #FFF500;

    margin: 20px;

    transform: rotate(45deg);
}

.rhombs_figure_second {
    display: block;
    transform: rotate(-45deg);
}

.rhomb_body_third {
    width: 15px;
    height: 15px;

    line-height: 60px;
    text-align: center;

    background: #000;

    margin: 20px;

    transform: rotate(45deg);
}

.rhombs_figure_third {
    display: block;
    transform: rotate(-45deg);  
}

.rhomb_body_fourth {
    width: 15px;
    height: 15px;

    line-height: 60px;
    text-align: center;

    background: #000;

    margin: 20px;

    transform: rotate(45deg);
}

.rhombs_figure_fourth {
    display: block;
    transform: rotate(-45deg);  
}

.rhomb_body_fifth {
    width: 15px;
    height: 15px;

    line-height: 60px;
    text-align: center;

    background: #000;

    margin: 20px;

    transform: rotate(45deg);
}

.rhombs_figure_fifth {
    display: block;
    transform: rotate(-45deg);  
}


