@font-face {
    font-family: 'Marianna';
    src: url('./../fonts/Marianna.eot');
    src: url('./../fonts/Marianna.eot?#iefix') format('embedded-opentype'),
        url('./../fonts/Marianna.woff2') format('woff2'),
        url('./../fonts/Marianna.woff') format('woff'),
        url('./../fonts/Marianna.ttf') format('truetype'),
        url('./../fonts/Marianna.svg#Marianna') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

/* First block */
.wrapper {
    width: 1410px;
}
/* Header */
.header_container {

}
/* Header menu */
.header_menu {
}
.menu_body {

}
.menu_list {

}
.list_item {

    list-style-type: none;

    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
    text-align: left;
}
.list_link {
/* Header logo */
}
.header_logo {



    font-family: 'Oswald';
    font-size: 36px;
    font-weight: 300;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;

}
/* Header phonenumber */
.header_phonenumber {

}
.header_number {



    font-family: 'Oswald';
    font-size: 32px;
    font-weight: 300;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;

}
