
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

.wrapper a {
    text-decoration: none;
}



/* ////////////////////////////////////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

.wrapper {
    min-width: 1950px;
    height: 2206px;
}



/* Iceland info */

.iceland_info {

    max-width: 1410px;
    min-height: 1172px;

    margin: 0 auto;

    padding-top: 178px;
}

.iceland_title_title {

    display: flex;
    align-items: center;

    padding-bottom: 51px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 47px;

}

.iceland_title {

    display: flex;
    justify-content: start;
    text-align: left;

    padding-bottom: 52px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
}



.iceland_subtitle {

    text-align: left;

    padding-bottom: 65px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;

    color: #7A7A7A;
}

.iceland_button {

    display: flex;

}

.iceland_button_text {

    width: 183px;
    height: 62px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;

    background: #fff;

}
.iceland_button_text:hover{

    transition: all 0.3s 0s;

    background: #203812;

    color: #fff;

}

/* Iceland mountains */

.iceland_mountains {

    display: flex;

    position: relative;
    top: -647px;
    left: 963px;

    margin-bottom: -647px;

}

.mountains_img {


    width: 449px;
    height: 758px;

    background-image: url('./../imgs/secondblock/Mountains.svg');
}

/* Iceland waterfall */

.iceland_waterfall {

    display: flex;

    position: relative;
    top: -20px;
    left: 333px;

}

.waterfall_img {

    width: 480px;
    height: 256px;

    background-image: url('./../imgs/secondblock/waterfall.svg');

}

/* Choose a tour */

.choose_tour {

    width: 1410px;

    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;



}

.choose_tour_text {

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;

    color: #245760;

    margin-bottom: 33px;

}



/* Choose a tour burger */

.choose_burger {

    display: flex;

    
    position: relative;
    top: -60px;
    right: -1440px;

    width: 31px;
    height: 22px

}

.choose_burger::before,
.choose_burger::after {

    content: '';

    background-color: #245760;

    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;

}

.choose_burger span {

    position: absolute;
    top: 9px;

    background-color: #245760;

    left: 0;

    width: 100%;
    height: 3px;

}

.choose_burger::before {
    top: 0;
}

.choose_burger::after {
    bottom: 0;
}


/* Cards */

.cards {

    display: flex;

}

.firstcard,
.secondcard,
.thirdcard,
.fourthcard {

    width: 330px;
    height: 440px;

}

.firstcard_img,
.secondcard_img,
.thirdcard_img,
.fourthcard_img {

    width: 330px;
    height: 181px;

}

/* First card */

.firstcard {

    max-width: 330px;
    max-height: 440px;

    box-shadow: 0px 4px 25px -11px rgba(0, 0, 0, 0.25);

}

.firstcard_img {

    display: block;



    background-image: url('./../imgs/secondblock/cruise.svg');

    
}

.firstcard_img_body {

    width: 330px;
    height: 181px;

}

.firstcard_img_compassblock {

    display: flex;


    position: relative;
    top: -31px;

    width: 66px;
    height: 31px;

    background: #348BB5;

}
.firstcard_compassimg {

    width: 16px;
    height: 16.66px;

    background-image: url('./../imgs/secondblock/compass.svg');
    background-size: cover;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 7px;
}
.firstcard_compasstext {

    margin-top: 6px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;

    color: #fff;
}

.firstcard_img_daystext {

    position: relative;
    top: -56px;
    left: 138px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15.08px;
    line-height: 22px;

    color: #fff;
}

.firstcard_text_body {



    margin-left: 18px;
}

.firstcard_title {

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.firstcard_price {

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #7A7A7A;
}

.firstcard_price_weight {
    padding-left: 6px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #000;
}

.firstcard_stars {
 
    width: 71px;
    height: 15px;
    
    display: flex;
    align-items: center;


    list-style-type: none;

}

.firstcard_stars_item {

    display: flex;

    width: 10px;
    height: 10px;
    
    margin-top: 9px;

    background-image: url('./../imgs/secondblock/star.svg');

}

.firstcard_stars_rate {

    margin-top: 10px;
    margin-left: 4px;

    display: flex;


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.firstcard_subtitle {

    text-align: left;

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

    color: #7A7A7A;

}

.firstcard_button {

    width: 80px;
    height: 31px;

    display: flex;
    justify-content: center;

    margin-top: 10px;

    border: 2px solid #348BB5;

}

.firstcard_button_text {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #000;

}

.firstcard_button:hover {

    transition: all .3s 0s;

    background: #348BB5;
}

.firstcard_button_text:hover {

    transition: all .3s 0s;

    color: #fff;

}

/* Second card */

.secondcard {



    margin-left: 30px;

    box-shadow: 0px 4px 25px -11px rgba(0, 0, 0, 0.25);
    
}

.secondcard_img_body {

    width: 330px;
    height: 181px;

}

.secondcard_img {

    display: block;

    background-image: url('./../imgs/secondblock/Individual.svg');

}

.secondcard_img_compassblock {

    display: flex;


    position: relative;
    top: -31px;

    width: 81px;
    height: 31px;

    background: #912524;
}

.secondcard_compassimg {

    width: 16px;
    height: 16.66px;

    background-image: url('./../imgs/secondblock/compass.svg');
    background-size: cover;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
}

.secondcard_compasstext {

    display: flex;
    align-items: center;

    margin-top: 1px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;

    color: #fff;
}

.secondcard_img_daystext {

    position: relative;
    top: -56px;
    left: 134px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15.08px;
    line-height: 22px;

    color: #fff;

}

.secondcard_text_body {



    margin-left: 18px;
}

.secondcard_title {

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.secondcard_price {

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #7A7A7A;
}

.secondcard_price_weight {
    padding-left: 6px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #000;
}

.secondcard_stars {
 
    width: 71px;
    height: 15px;
    
    display: flex;
    align-items: center;

    list-style-type: none;

}

.secondcard_stars_item {

    display: flex;

    width: 10px;
    height: 10px;
    
    margin-top: 9px;

    background-image: url('./../imgs/secondblock/star.svg');

}

.secondcard_stars_rate {

    margin-top: 10px;
    margin-left: 4px;

    display: flex;


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.secondcard_subtitle {

    text-align: left;

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

    color: #7A7A7A;

}

.secondcard_button {

    width: 80px;
    height: 31px;

    display: flex;
    justify-content: center;

    margin-top: 10px;

    border: 2px solid #912524;

}

.secondcard_button_text {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #000;

}

.secondcard_button:hover {

    transition: all .3s 0s;

    background: #912524;
}

.secondcard_button_text:hover {

    transition: all .3s 0s;

    color: #fff;

}

/* Third card */

.thirdcard {

    margin-left: 30px;

    box-shadow: 0px 4px 25px -11px rgba(0, 0, 0, 0.25);

}



.thirdcard_img_body {

    width: 330px;
    height: 181px;

}

.thirdcard_img {

    display: block;

    background-image: url('./../imgs/secondblock/group.svg');

}

.thirdcard_img_compassblock {

    display: flex;


    position: relative;
    top: -31px;

    width: 61px;
    height: 31px;

    background: #24912F;
}

.thirdcard_compassimg {

    width: 16px;
    height: 16.66px;

    background-image: url('./../imgs/secondblock/compass.svg');
    background-size: cover;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
}

.thirdcard_compasstext {

    display: flex;
    align-items: center;

    margin-top: 1px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;

    color: #fff;
}

.thirdcard_img_daystext {

    position: relative;
    top: -56px;
    left: 134px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15.08px;
    line-height: 22px;

    color: #fff;

}

.thirdcard_text_body {



    margin-left: 18px;
}

.thirdcard_title {

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.thirdcard_price {

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #7A7A7A;
}

.thirdcard_price_weight {
    padding-left: 6px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #000;
}

.thirdcard_stars {
 
    width: 71px;
    height: 15px;
    
    display: flex;
    align-items: center;

    list-style-type: none;

}

.thirdcard_stars_item {

    display: flex;

    width: 10px;
    height: 10px;
    
    margin-top: 9px;

    background-image: url('./../imgs/secondblock/star.svg');

}

.thirdcard_stars_rate {

    margin-top: 10px;
    margin-left: 4px;

    display: flex;


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.thirdcard_subtitle {

    text-align: left;

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

    color: #7A7A7A;

}

.thirdcard_button {

    width: 80px;
    height: 31px;

    display: flex;
    justify-content: center;

    margin-top: 25px;

    border: 2px solid #24912F;

}

.thirdcard_button_text {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #000;

}

.thirdcard_button:hover {

    transition: all .3s 0s;

    background: #24912F;
}

.thirdcard_button_text:hover {

    transition: all .3s 0s;

    color: #fff;

}

/* Fourth card */

.fourthcard {

    margin-left: 30px;

    box-shadow: 0px 4px 25px -11px rgba(0, 0, 0, 0.25);

}



.fourthcard_img_body {

    width: 330px;
    height: 181px;

}

.fourthcard_img {

    display: block;

    background-image: url('./../imgs/secondblock/Autotour.svg');

}

.fourthcard_img_compassblock {

    display: flex;


    position: relative;
    top: -31px;

    width: 81px;
    height: 31px;

    background: #912524;
}

.fourthcard_compassimg {

    width: 16px;
    height: 16.66px;

    background-image: url('./../imgs/secondblock/compass.svg');
    background-size: cover;

    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
}

.fourthcard_compasstext {

    display: flex;
    align-items: center;

    margin-top: 1px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;

    color: #fff;
}

.fourthcard_img_daystext {

    position: relative;
    top: -56px;
    left: 134px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 15.08px;
    line-height: 22px;

    color: #fff;

}

.fourthcard_text_body {



    margin-left: 18px;
}

.fourthcard_title {

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.fourthcard_price {

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #7A7A7A;
}

.fourthcard_price_weight {
    padding-left: 6px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #000;
}

.fourthcard_stars {
 
    width: 71px;
    height: 15px;
    
    display: flex;
    align-items: center;

    list-style-type: none;

}

.fourthcard_stars_item {

    display: flex;

    width: 10px;
    height: 10px;
    
    margin-top: 9px;

    background-image: url('./../imgs/secondblock/star.svg');

}

.fourthcard_stars_rate {

    margin-top: 10px;
    margin-left: 4px;

    display: flex;


    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.fourthcard_subtitle {

    text-align: left;

    margin-top: 9px;

    display: flex;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

    color: #7A7A7A;

}

.fourthcard_button {

    width: 80px;
    height: 31px;

    display: flex;
    justify-content: center;

    margin-top: 10px;

    border: 2px solid #B5A834;

}

.fourthcard_button_text {

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #000;

}

.fourthcard_button:hover {

    transition: all .3s 0s;

    background: #B5A834;
}

.fourthcard_button_text:hover {

    transition: all .3s 0s;

    color: #fff;

}

/* Slider */

.tour_slider {

    display: flex;
    align-items: flex-end;


    height: 123px;

}

.tour_slider_arrowprev {

    display: flex;

    width: 32px;
    height: 64px;

    background-image: url('./../imgs/secondblock/arrowprev.svg');
}

.tour_sliderarea_body {

    width: 1414px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.tour_sliderarea {


    width: 1240px;
    height: 12px;

    background: #D9D9D9;
    border-radius: 589px;
}

.tour_sliderarea_scroll {

    width: 230px;
    height: 14px;

    position: relative;
    right: -851px;
    top: -2px;

    background: #245760;
    border-radius: 589px;

}

.tour_slider_arrownext {

    width: 36px;
    height: 64px;


    background-image: url('./../imgs/secondblock/arrownext.svg');

}

.hok {
    float: left;
}


.carousel-indicators [data-bs-target] {
    border-bottom: 20px;
}